<div class="welcome-page">

    <div class="row">
        <div class="col-sm-8">
            <p>
                <br />
                OpenId configuration:
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
    </div>

</div>
